<nav class="navbar-default navbar-static-side" role="navigation" data-ng-controller="HeaderController" data-ng-show="authentication.user">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a class="dropdown-toggle" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                     <img alt="Social Netowrk logo" class="text-center" src="modules/core/img/brand/social_media_09.jpg" style="width: 160px" />
                                </span>
                            </span>
                             
                    </a>
                   
                </div>
                <div class="logo-element">
                 Get Social
                </div>
            </li>
            <li ng-class="{active: $uiRoute}" ui-route="/" >
                <a href="/#!/newsfeed"><i class="fa fa-newspaper-o"></i> <span class="nav-label">News feed</span></a>
            </li>
            <li ng-class="{active: $uiRoute}" ui-route="/" >
                <a href="/#!/friends"><i class="fa fa-group"></i> <span class="nav-label">Friends</span></a>
            </li>


        </ul>
    </div>
</nav>
