<div class="wrapper wrapper-content" data-ng-controller="AuthenticationController">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h3 class="m-t-none m-b">Create an account</h3>


                    <form role="form" name="userForm" data-ng-submit="signup()" class="signin" novalidate autocomplete="off">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                        </div>
                         <div class="form-group">
                            <label for="password">Re-type password</label>
                            <input type="password" id="password_2" name="password_2" class="form-control"  placeholder="Re-type password">
                        </div>
                        <div class="text-center form-group">
                            <button type="submit" class="btn btn-large btn-primary">Create an account</button>
                            &nbsp; or&nbsp;
                            <a href="/#!/signin" class="show-signup">Log In</a>
                             
                        </div>
                        <div data-ng-show="error" class="text-center text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
